@import 'vars';
@import 'global';
@import 'fonts';
// start header 
.header {
    width: 100%;
    position: fixed;
    padding-bottom: 20px;
    padding-top: 50px;
    z-index: 5;
    background-color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 150px;
    }
    &__sign button {
        @include rubik-medium;
        font-size: 16px;
        line-height: 19px;
    }
    &__sign-up {
        color: $accentColor;
        padding: 13px 45px;
        border: 1px solid $accentColor;
        border-radius: 50px;
        margin-left: 30px;
    }
    &__sign-in {
        transition: all .5s;
        &:hover {
            color: $accentColor;
        }
    }
}

.menu {
    font-size: 16px;
    line-height: 19px;
    &__item {
        display: inline-block;
    }
    &__item+&__item {
        margin-left: 40px;
    }
}

// end header
// start main
.main {
    margin-top: 120px;
    padding-top: 90px;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        padding-right: 15px;
    }
    &__title {
        padding-top: 22px;
        @include rubik-medium;
        font-size: 50px;
        line-height: 70px;
        color: $mainText;
        margin-bottom: 20px;
        span {
            @include rubik-bold;
        }
    }
    &__descr {
        margin-bottom: 50px;
        span {
            @include rubik-bold;
        }
    }
    &__img {
        width: 100%;
        max-width: 610px;
        margin-right: -24px;
    }
}

// end main
// start statistic
.statistic {
    &__inner {
        box-shadow: -2px -22px 50px -30px rgba(0, 0, 0, 0.21), -1px 25px 50px -30px rgba(0, 0, 0, 0.21);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
    }
    &__item {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 125px;
            right: 0;
            background-color: #EEEFF2;
        }
    }
    &__text {
        margin-left: 35px;
        span {
            display: block;
        }
    }
    &__number {
        @include rubik-bold;
        font-size: 25px;
        line-height: 30px;
        color: $mainText;
        margin-bottom: 5px;
    }
    &__point {
        font-size: 20px;
        line-height: 30px;
    }
    &__img {
        max-width: 55px;
        padding: 19px;
        border-radius: 50%;
        background-color: #FFECEC;
    }
}

// end statictic
// start features
.features {
    padding-top: 96px;
    padding-bottom: 120px;
    .section__descr,
    .section__title {
        text-align: left;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 100%;
        max-width: 509px;
        margin-left: 35px;
    }
    &__text {
        padding-top: 55px;
        max-width: 427px;
        margin-right: 24px;
    }
    &__list li {
        font-size: 14px;
        line-height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        position: relative;
        padding-left: 35px;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            background-image: url(../images/features-ok.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
}

// end features
// start plan
.plan {
    background: linear-gradient(180deg, rgba(251, 251, 251, 1) 0%, rgba(254, 254, 254, 1) 100%);
    padding-top: 80px;
    padding-bottom: 70px;
    .section__descr {
        max-width: 555px;
    }
    &__items {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 80px 10px 155px 10px;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;
        transition: all .3s;
        text-align: center;
        max-width: 330px;
        width: 100%;
        position: relative;
        &:hover {
            border: 2px solid $accentColor;
        }
    }
    &__item-img {
        max-width: 145px;
        margin-bottom: 30px;
    }
    &__item-title {
        @include rubik-medium;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__item-list {
        margin-bottom: 40px;
        li {
            text-align: left;
            padding-left: 26px;
            position: relative;
            max-width: 200px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            &::before {
                content: '';
                width: 14px;
                height: 10px;
                display: inline-block;
                background-image: url(../images/plan-check.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: contain;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
    &__item-price {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 50px;
    }
    &__item-cost {
        margin-bottom: 20px;
        span {
            font-size: 25px;
            line-height: 30px;
        }
    }
    &__item-value {
        @include rubik-medium;
        color: $mainText;
    }
    &__item-time {
        @include rubik-regular;
        color: $subText;
    }
    &__item-button {
        padding: 13px 65px;
        &:hover {
            box-shadow: 1px 17px 26px -17px $accentColor;
        }
    }
}

// end plan
// start network
.network {
    padding-top: 70px;
    background: linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
    .section__descr {
        margin-bottom: 155px;
    }
    &__img {
        margin-bottom: 77px;
    }
    &__slider {
        margin-bottom: 60px;
    }
    &__slider-item {
        max-width: 190px;
        margin: 10px;
    }
}

// end network
// start customers
.customers {
    padding-top: 60px;
    &__slider {
        padding-top: 40px;
    }
    &__slide {
        padding: 30px;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        transition: all .3s;
        max-width: 400px;
        min-height: 230px;
        width: 100%;
        &:hover {
            border: 2px solid $accentColor;
        }
    }
    &__person {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 50px;
        position: relative;
        margin-bottom: 5px;
    }
    &__img {
        max-width: 50px;
        margin-right: 20px;
        img {
            border-radius: 50%;
        }
    }
    &__person {
        span {
            display: block;
        }
    }
    &__name {
        @include rubik-medium;
        font-size: 18px;
        line-height: 22px;
        color: $mainText;
    }
    &__place {
        @include rubik-regular;
        font-size: 14px;
        line-height: 18px;
        color: #4F5665;
    }
    &__rate {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &__number {
        margin-right: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    &__star {
        max-width: 16px;
        width: 100%;
    }
    &__comment {
        color: $mainText;
        font-size: 16px;
        line-height: 30px;
    }
    ul.slick-dots {
        display: flex;
        justify-content: flex-start;
        .presentation button {
            font-size: 0px;
            height: 0;
        }
    }
}

// end customers
// start subscribe
.subscribe {
    transform: translateY(50%);
    .start__button {
        padding: 17px 65px;
    }
    .section__descr,
    .section__title {
        margin-bottom: 0;
    }
    .section__title {
        line-height: 45px;
        margin-bottom: 10px;
    }
    &__inner {
        background-color: #fff;
        box-shadow: -2px -22px 50px -30px rgba(0, 0, 0, 0.21), -1px 25px 50px -30px rgba(0, 0, 0, 0.21);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 52px 70px;
        .section__title,
        .section__descr {
            text-align: left;
        }
    }
}

// end subcsrube
// start footer
.footer {
    padding-top: 185px;
    padding-bottom: 80px;
    background-color: $bg;
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__about {
        width: 50%;
        padding-right: 40px;
    }
    &__logo {
        max-width: 149px;
        margin-bottom: 20px;
    }
    &__info {
        max-width: 320px;
        margin-bottom: 30px;
        span,
        a {
            @include rubik-medium;
        }
    }
    &__social {
        line-height: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        &-link {
            max-width: 35px;
            border-radius: 50%;
            margin-right: 20px;
            border: 2px solid transparent;
            transition: all .4s;
            &:hover {
                border: 2px solid $accentColor;
            }
        }
    }
    &__policy {
        color: #AFB5C0;
        span {
            @include rubik-medium;
        }
    }
    &__column:not(:last-child) {
        margin-right: 126px;
    }
    &__column {
        max-width: 160px;
    }
    &__title {
        @include rubik-medium;
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__links {
        li {
            margin-bottom: 10px;
        }
        a {
            width: 100%;
            transition: all .4s;
            &:hover {
                color: $accentColor;
            }
        }
    }
}

// end footer
@import 'media';