doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content
                header.header
                    .container
                        .header__inner
                            .haeder__logo
                                img(src="images/logo.png" alt="logo")
                            nav.menu
                                ul.menu__list
                                    li.menu__item
                                        a(href="#") About
                                    li.menu__item
                                        a(href="#") Features
                                    li.menu__item
                                        a(href="#") Pricing
                                    li.menu__item
                                        a(href="#") Testimonials
                                    li.menu__item
                                        a(href="#") Help
                            .header__sign
                                button.header__sign-in Sign In
                                button.header__sign-up.action__btn Sign Up
                main.main
                    .container
                        .main__inner
                            .main__text
                                h1.main__title Want anything to be easy with 
                                    span LaslesVPN.
                                .main__descr Provide a network for all your needs with ease and fun using 
                                    span LaslesVPN 
                                    |discover interesting features from us.
                                button.start__button.main__button Get Started
                            .main__img
                                img(src="images/main.png" alt="main img")
                section.statistic
                    .container
                        .statistic__inner
                            .statistic__item
                                img.statistic__img(src="images/user.svg" alt="user icon")
                                .statistic__text
                                    span.statistic__number 90+
                                    span.statistic__point Users
                            .statistic__item
                                img.statistic__img(src="images/checkpoint.svg" alt="checkpoint icon")
                                .statistic__text
                                    span.statistic__number 30+
                                    span.statistic__point Locations
                            .statistic__item
                                img.statistic__img(src="images/server.svg" alt="server icon")
                                .statistic__text
                                    span.statistic__number 50+
                                    span.statistic__point Servers
                section.features 
                    .container 
                        .features__inner 
                            .features__img
                                img(src="images/features.png" alt="man works with a laptop")
                            .features__text 
                                h3.section__title We Provide Many Features You Can Use
                                p.section__descr You can explore the features that we provide with fun and have their own functions each feature.
                                ul.features__list
                                    li Powerfull online protection.
                                    li Internet without borders.
                                    li Supercharged VPN
                                    li No specific time limits.
                section.plan 
                    .container 
                        .plan__inner
                            h3.section__title.block-center  Choose Your Plan
                            p.section__descr.block-center   Let's choose the package that is best for you and explore it happily and cheerfully.
                            .plan__items 
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Free Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li No Traffic Logs
                                        li Works on All Devices
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value Free
                                            span.plan__item-time 
                                        button.action__btn.plan__item-button Select 
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Standard Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li Yes Traffic Logs
                                        li Works on All Devices
                                        li Connect Anyware
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value $9 
                                            span.plan__item-time / mo
                                        button.action__btn.plan__item-button Select
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Premium Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li Yes Traffic Logs
                                        li Works on All Devices 
                                        li Connect Anyware
                                        li Get New Features
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value $12 
                                            span.plan__item-time / mo
                                        button.action__btn.plan__item-button Select
                section.network 
                    .container 
                        .network__inner 
                            h3.section__title.block-center Huge Global Network of Fast VPN
                            p.section__descr.block-center See LaslesVPN everywhere to make it easier for you when you move locations.
                            .network__img 
                                img.network__img(src="images/network-map.png" alt="world map")
                            .network__slider 
                                .network__slider-item 
                                    img(src="images/netflix.png" alt="netflix logo")
                                .network__slider-item 
                                    img(src="images/spotify.png" alt="reddit logo")
                                .network__slider-item 
                                    img(src="images/reddit.png" alt="spotify logo")
                                .network__slider-item 
                                    img(src="images/discord.png" alt="discord logo")
                                .network__slider-item 
                                    img(src="images/amazon.png" alt="amazon logo")
                                .network__slider-item 
                                    img(src="images/reddit.png" alt="spotify logo")
                section.customers 
                    .container 
                        .customers__inner 
                            h3.section__title.block-center Trusted by Thousands of Happy Customer
                            p.section__descr.block-center These are the stories of our customers who have joined us with great pleasure  when using this crazy feature.
                            .customers__slider 
                                .customers__slide 
                                    .customers__person 
                                        .customers__img 
                                            img(src="images/robert.jpg" alt="Robert from Poland")
                                        .customers__info 
                                            span.customers__name Viezh Robert
                                            span.customers__place Warsaw, Poland
                                        .customers__rate 
                                            .customers__number 4.5
                                            .customers__star 
                                                img(src="images/star.svg" alt="star rate icon")
                                    p.customers__comment “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.
                                .customers__slide 
                                    .customers__person 
                                        .customers__img 
                                            img(src="images/yessica.jpg" alt="the girl from China")
                                        .customesr__info 
                                            span.customers__name Yessica Christy
                                            span.customers__place Shanxi, China
                                        .customers__rate 
                                            .customers__number 4.5
                                            .customers__star 
                                                img(src="images/star.svg" alt="star rate icon")
                                    p.customers__comment “I like it because I like to travel far and still can connect with high speed.”.
                                .customers__slide 
                                    .customers__person 
                                        .customers__img 
                                            img(src="images/kim.jpg" alt="the mate from South Korea")
                                        .customers__info 
                                            span.customers__name Kim Young Jou
                                            span.customers__place Seoul, South Korea
                                        .customers__rate 
                                            .customers__number 4.5
                                            .customers__star 
                                                img(src="images/star.svg" alt="star rate icon")
                                    p.customers__comment “This is very unusual for my business that currently requires a virtual private network that has high security.”.
                                .customers__slide 
                                    .customers__person 
                                        .customers__img 
                                            img(src="images/robert.jpg" alt="Robert from Poland")
                                        .customers__info 
                                            span.customers__name Kim Young Jou
                                            span.customers__place Seoul, South Korea
                                        .customers__rate 
                                            .customers__number 4.5
                                            .customers__star 
                                                img(src="images/star.svg" alt="star rate icon") 
                                    p.customers__comment “This is very unusual for my business that currently requires a virtual private network that has high security.”.
                                .customers__slide 
                                    .customers__person 
                                        .customers__img 
                                            img(src="images/yessica.jpg" alt="the girl from China")
                                        .customesr__info 
                                            span.customers__name Yessica Christy
                                            span.customers__place Shanxi, China
                                        .customers__rate 
                                            .customers__number 4.5
                                            .customers__star 
                                                img(src="images/star.svg" alt="star rate icon")
                                    p.customers__comment “I like it because I like to travel far and still can connect with high speed.”.
                section.subscribe 
                    .container 
                        .subscribe__inner 
                            .subscribe__content 
                                h3.section__title Subscribe Now for Get Special Features!
                                p.section__descr Let's subscribe with us and find the fun.
                            .start__button Subscribe Now


            .footer
                .container 
                    .footer__inner 
                        .footer__about 
                            .footer__logo 
                                img(src="images/logo.png" alt="company logo")
                            .footer__info 
                                a(href="#") LaslesVPN  
                                |  is a private virtual   that has unique features and has high security.
                            .footer__social
                                a.footer__social-link(href="")
                                    img(src="images/footer-fb.svg" alt="facebook icon")
                                a.footer__social-link(href="")
                                    img(src="images/footer-twitter.svg" alt="twitter icon")
                                a.footer__social-link(href="")
                                    img(src="images/footer-insta.svg" alt="inastagtamm icon")
                            .footer__policy ©2020Lasles
                                span VPN
                        .footer__column
                            .footer__title Product
                            ul.footer__links
                                li
                                    a(href="#") Download 
                                li
                                    a(href="#") Pricing
                                li
                                    a(href="#") Locations
                                li
                                    a(href="#") Server
                                li
                                    a(href="#") Countries
                                li
                                    a(href="#") Blog
                        .footer__column
                            .footer__title Engage
                            ul.footer__links
                                li
                                    a(href="#") LaslesVPN ? 
                                li
                                    a(href="#") FAQ
                                li
                                    a(href="#") Tutorials
                                li
                                    a(href="#") About Us
                                li
                                    a(href="#") Privacy Policy
                                li
                                    a(href="#") Terms of Service
                        .footer__column
                            .footer__title Earn Money
                            ul.footer__links
                                li
                                    a(href="#") Affiliate
                                li
                                    a(href="#") Become Partner

        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")