doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/style.min.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image.png")

    body
        .wrapper
            .content
                header.header
                    .container
                        .header__inner
                            .haeder__logo
                                img(src="images/logo.png" alt="logo")
                            nav.menu
                                ul.menu__list
                                    li.menu__item
                                        a(href="#") About
                                    li.menu__item
                                        a(href="#") Features
                                    li.menu__item
                                        a(href="#") Pricing
                                    li.menu__item
                                        a(href="#") Testimonials
                                    li.menu__item
                                        a(href="#") Help
                            .header__sign
                                button.header__sign-in Sign In
                                button.header__sign-up.action__btn Sign Up
                main.main
                    .container
                        .main__inner
                            .main__text
                                h1.main__title Want anything to be easy with 
                                    span LaslesVPN.
                                .main__descr Provide a network for all your needs with ease and fun using 
                                    span LaslesVPN 
                                    |discover interesting features from us.
                                button.start__button.main__button Get Started
                            .main__img
                                img(src="images/main.png" alt="main img")
                section.statistic
                    .container
                        .statistic__inner
                            .statistic__item
                                img.statistic__img(src="images/user.svg" alt="user icon")
                                .statistic__text
                                    span.statistic__number 90+
                                    span.statistic__point Users
                            .statistic__item
                                img.statistic__img(src="images/checkpoint.svg" alt="checkpoint icon")
                                .statistic__text
                                    span.statistic__number 30+
                                    span.statistic__point Locations
                            .statistic__item
                                img.statistic__img(src="images/server.svg" alt="server icon")
                                .statistic__text
                                    span.statistic__number 50+
                                    span.statistic__point Servers
                section.features 
                    .container 
                        .features__inner 
                            .features__img
                                img(src="images/features.png" alt="man works with a laptop")
                            .features__text 
                                h3.section__title We Provide Many Features You Can Use
                                p.section__descr You can explore the features that we provide with fun and have their own functions each feature.
                                ul.features__list
                                    li Powerfull online protection.
                                    li Internet without borders.
                                    li Supercharged VPN
                                    li No specific time limits.
                section.plan 
                    .container 
                        .plan__inner
                            h3.section__title.block-center  Choose Your Plan
                            p.section__descr.block-center   Let's choose the package that is best for you and explore it happily and cheerfully.
                            .plan__items 
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Free Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li No Traffic Logs
                                        li Works on All Devices
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value Free
                                            span.plan__item-time 
                                        button.action__btn.plan__item-button Select 
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Standard Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li Yes Traffic Logs
                                        li Works on All Devices
                                        li Connect Anyware
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value $9 
                                            span.plan__item-time / mo
                                        button.action__btn.plan__item-button Select
                                .plan__item
                                    .plan__item-img.block-center
                                        img(src="images/plan-box.png" alt="box with gifts")
                                    .plan__item-title Premium Plan
                                    ul.plan__item-list
                                        li Unlimited Bandwitch
                                        li Encrypted Connection
                                        li Yes Traffic Logs
                                        li Works on All Devices 
                                        li Connect Anyware
                                        li Get New Features
                                    .plan__item-price 
                                        .plan__item-cost 
                                            span.plan__item-value $12 
                                            span.plan__item-time / mo
                                        button.action__btn.plan__item-button Select


            .footer
        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")